/************************************************
 * {{this.nameSpace}} Config Manager class : {{this.managerClassName}}
 * This file is can not be modify !!!
 * If there is some problem, ask yunhan.zeng@dragonplus.com
 ************************************************/

using System;
using System.Collections;
using System.Collections.Generic;
using Newtonsoft.Json;
{{#each subTypeArray}}using DragonPlus.Config.{{this.subType}};
{{/each}}
public partial class {{this.managerClassName}}
{   
    {{#each subTypeArray}}public {{this.subType}}ConfigManager {{this.subType}}Config;
    {{/each}}
    {{#each fieldArray}}public List<{{this.nameSpace}}{{this.configClassName}}> {{this.configClassName}}List;
    {{/each}}
    private bool CheckTable(Hashtable table)
    {
        {{#each fieldArray}}if (!table.ContainsKey("{{this.lowersheetname}}")) return false;
        {{/each}}
        return true;
    }

    public void InitConfig(String configJson = null)
    {
        Hashtable table = null;
        if (!string.IsNullOrEmpty(configJson))
        {
            table = JsonConvert.DeserializeObject<Hashtable>(configJson);
        }
        {{#each subTypeArray}}{{this.subType}}Config = new {{this.subType}}ConfigManager();
        {{this.subType}}Config.InitConfig(configJson);
        {{/each}}
        {{#each fieldArray}}{{this.configClassName}}List = JsonConvert.DeserializeObject<List<{{this.nameSpace}}{{this.configClassName}}>>(JsonConvert.SerializeObject(table["{{this.lowersheetname}}"]));
        {{/each}}
    }
}