// ReSharper disable CommentTypo
// ReSharper disable StringLiteralTypo
// ReSharper disable MemberCanBePrivate.Global
/************************************************
 * ConfigHub class : {{className}}
 * This file is can not be modify !!!
 * If there is some problem, ask yunhan.zeng@dragonplus.com
 ************************************************/

using System.Collections.Generic;

namespace DragonPlus.ConfigHub.{{nameSpace}}
{
    public class {{className}}
    {   
        {{#each fieldArray}}
        /// <summary>
        /// {{{this.desc}}}
        /// </summary>
        public {{{this.realType}}} {{this.getterName}} { get; set; }
        {{/each}}
    }
}