/************************************************
 * Config class is : {{className}}
 ************************************************/

using System;
using System.Collections.Generic;

namespace My.Config.{{nameSpace}}
{
    public class {{className}}
    {   {{#each fieldArray}}
        /// <summary>
        /// {{{this.desc}}}
        /// </summary>
        public {{{this.realType}}} {{this.getterName}} { get; set; }
        {{/each}}
    }
}