/************************************************
 * {{this.nameSpace}} Config Manager class : {{this.managerClassName}}
 * This file is can not be modify !!!
 * If there is some problem, ask yunhan.zeng@dragonplus.com
 ************************************************/

using System;
using System.Collections.Generic;
using UnityEngine;
using Newtonsoft.Json;
using DragonU3DSDK;

namespace {{this.nameSpace}}.Config.{{this.name}}
{
    public partial class {{this.managerClassName}} : Singleton<{{this.managerClassName}}>
    {   
        {{#each fieldArray}}public List<{{this.configClassName}}> {{this.configClassName}}List;
        {{/each}}
        private Dictionary<string, Dictionary<int, List<object>>> allDict = new Dictionary<string, Dictionary<int, List<object>>>();
        public void InitConfig(int id)
        {
            allDict.Clear();
            {{#each fieldArray}}{{this.configClassName}}List = JsonConvert.DeserializeObject<List<{{this.configClassName}}>>(loadJson(id, "{{this.lowersheetname}}"));
            allDict["{{this.lowersheetname}}"] = new Dictionary<int, List<object>>();
            foreach (var cfg in {{this.configClassName}}List) {
                if (!allDict["{{this.lowersheetname}}"].ContainsKey(cfg.Id))
                    allDict["{{this.lowersheetname}}"][cfg.Id] = new List<object>();
                allDict["{{this.lowersheetname}}"][cfg.Id].Add(cfg);
            }
            {{/each}}
        }
        public void Release()
        {
            {{#each fieldArray}}{{this.configClassName}}List = null;
            {{/each}}
            allDict.Clear();
        }
        public T GetConfig<T>(int id) where T : class
        {
            var subModule = typeToEnum[typeof(T)];
            if (!allDict.ContainsKey(subModule))
                return default;
            var dict = allDict[subModule];
            return dict.ContainsKey(id) ? dict[id][0] as T : default;
        }
        public List<T> GetConfigs<T>(int id) where T : class
        {
            var subModule = typeToEnum[typeof(T)];
            if (!allDict.ContainsKey(subModule))
                return default;
            var dict = allDict[subModule];
            if (!dict.ContainsKey(id))
                return default;
            var ret = new List<T>();
            dict[id].ForEach(cfg => ret.Add(cfg as T));
            return ret;
        }
        public Dictionary<int, List<object>> GetConfigs(string name)
        {
            allDict.TryGetValue(name, out var value);
            return value;
        }
        private string loadJson(int id, string subModule)
        {
            var path = $"{{this.jsonPath}}{id}/Config/{subModule}";
            var ta = Decoration.Utils.LoadResource<TextAsset>(path);
            if (string.IsNullOrEmpty(ta.text))
            {
                DebugUtil.LogError($"Load {path} error!");
                return "";
            }
            return ta.text;
        }
        private readonly Dictionary<Type, string> typeToEnum = new Dictionary<Type,string> { 
            {{#each fieldArray}}[typeof({{{this.configClassName}}})] = "{{{this.lowersheetname}}}",
            {{/each}}
        };
    }
}